#posts div:nth-child(even),
.posts div:nth-child(even) {
	margin:10px 0;
}

body {
	font-family: monospace;
}

code:not([class]) {
	background-color: #eee;
}

blockquote {
	border-left: 4px solid #e6e6e6;
	display: inline-block;
}

blockquote p {
	margin: 0;
	padding: 5px;
}

pre {
	background-color: #ddd;
	padding: 5px;
}

ul li {
	list-style: "- ";
}

pre,hr,img {
	max-width:80ch;
}

hr {
	margin: 10px 0;
}

#footer .tagline {
	transform: rotate(3deg);
	justify-self: baseline;
	display: inline-block;
}

#footer .tagline:before {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #94a6ca3d;
	height: 100%;
	left: 0;
	transform: rotate(-5deg);
}

#footer hr {
	border-style: dotted;
}
