:root {
	--SIZE_WRAPPER: 62.667rem;
	--SIZE_LOGO: 18.667em;
	--SIZE_XXS: 0.333rem;
	--SIZE_XS: 0.667rem;
	--SIZE_SMALL: 0.867rem;
	--SIZE_MEDIUM: 1.000rem;
	--SIZE_LARGE: 1.333rem;
	--SIZE_XL: 1.667rem;
	--SIZE_XXL: 2.000rem;
	--SIZE_XXXL: 2.333rem;
	--SIZE_XXXXL: 2.667rem;
	--SIZE_XXXXXL: 3.000rem;
	--SIZE_HUGE: 6.000rem;
	--SIZE_PX: 0.067rem;
}

body {
	font-family: monospace;
}

body, pre, img {
	max-width: 80ch;
}

pre {
	background-color: #ddd;
	padding: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code[class*="language-"], pre[class*="language-"] {
	white-space: break-spaces;
	word-break: break-word;
}

input, textarea, button {
	background-color: #020b0d;
	border: 1px solid var(--COLOR_PICKLEDBLUEWOOD);
}

textarea {
	resize: vertical;
}

ul li {
	list-style: "- ";
}

.posts {
  margin: 6px 0px 0px 6px;
}

#posts {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#post-content hr {
	border-color: #020b0d;
}

#tags h3:target {
	text-decoration: underline;
}

#tags {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#tags .tag > h1 {
	padding-bottom: 10px;
}

.post .metas {
	align-items: center;
	column-gap: var(--SIZE_MEDIUM);
	display: flex;
	flex-wrap: wrap;
}

.post .metas .tags {
	display: flex;
	column-gap: var(--SIZE_XS);
	place-items: center;
	flex-wrap: wrap;
}

.post img {
	max-width: 100%;
	margin-bottom: var(--SIZE_XS);
}

#footer {
  display: grid;
  padding-top: 15px;
  row-gap: 15px;
  grid-auto-columns: max-content;
  border-top: 1px solid black;
  margin-top: 15px;
}

#footer > nav {
	grid-gap: var(--SIZE_MEDIUM);
	display: flex;
	align-items: center;
}

#footer > nav a.active {
	text-decoration: underline;
}

#footer .tagline {
	transform: rotate(3deg);
	position: relative;
	letter-spacing: 2px;
	justify-self: baseline;
	margin-bottom: var(--SIZE_XXS);
}

#footer .tagline:before {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #94a6ca3d;
	height: 100%;
	left: 0;
	transform: rotate(-5deg);
}

#footer img {
	opacity: 0.5;
}

#footer img:hover {
	opacity: 1;
}

#footer > .copyright {
	grid-column: 1;
	grid-row: 2;
	place-self: center;
}

#footer > .icons {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	display: grid;
	filter: invert(1);
	grid-auto-flow: column;
	grid-gap: var(--SIZE_XS);
	place-items: center;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	a {
		filter: invert(1);
	}
	pre {
		background-color: #2f2f2f;
	}
}
