@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	a {
		filter: invert(1);
	}
	pre {
		background-color: #2f2f2f;
	}
}

#posts div:nth-child(even),
.posts div:nth-child(even) {
	margin:10px 0;
}

body {
	font-family: monospace;
}

code:not([class]) {
	background-color: #eee;
}

pre {
	background-color: #ddd;
	padding: 5px;
}

ul li {
	list-style: "- ";
}

pre,hr,img {
	max-width:80ch;
}

hr {
	margin: 10px 0;
}

#footer .tagline {
	transform: rotate(3deg);
	justify-self: baseline;
	display: inline-block;
}

#footer .tagline:before {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #94a6ca3d;
	height: 100%;
	left: 0;
	transform: rotate(-5deg);
}

#footer hr {
	border-style: dotted;
}
