:root {
	--SIZE_WRAPPER: 62.667rem;
	--SIZE_LOGO: 18.667em;
	--SIZE_XXS: 0.333rem;
	--SIZE_XS: 0.667rem;
	--SIZE_SMALL: 0.867rem;
	--SIZE_MEDIUM: 1.000rem;
	--SIZE_LARGE: 1.333rem;
	--SIZE_XL: 1.667rem;
	--SIZE_XXL: 2.000rem;
	--SIZE_XXXL: 2.333rem;
	--SIZE_XXXXL: 2.667rem;
	--SIZE_XXXXXL: 3.000rem;
	--SIZE_HUGE: 6.000rem;
	--SIZE_PX: 0.067rem;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: var(--SIZE_MEDIUM);
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
	grid-template-rows: 1fr auto;
	min-height: 100vh;
	font-family: system-ui;
  word-break: break-word;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code[class*="language-"], pre[class*="language-"] {
	white-space: break-spaces;
	word-break: break-word;
}

input, textarea, button {
	background-color: #020b0d;
	border: 1px solid var(--COLOR_PICKLEDBLUEWOOD);
}

textarea {
	resize: vertical;
}

#main > div:not(#posts) {
	margin-top: var(--SIZE_MEDIUM);
}

#posts {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
	margin-top: var(--SIZE_MEDIUM);
}

.posts h1, h2, h3,
#posts h1, h2, h3 {
	margin: 0;
	padding: 0;
}

.post {
	display: grid;
}

#post-content {
	margin-top: var(--SIZE_MEDIUM);
}

#post-content ul {
	display: grid;
	grid-gap: var(--SIZE_XS);
}


#post-content ul {
	padding: var(--SIZE_XS);
}

#post-content hr {
	border-color: #020b0d;
}

#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5,
#post-content p,
#post-content ul,
#post-content figure {
	margin: var(--SIZE_MEDIUM) 0;
}

.post > p {
	padding-left: var(--SIZE_MEDIUM);
}

.post:not(.full) .title {
	grid-row: 2;
}

.post.full {
	margin-top: var(--SIZE_MEDIUM);
}

.post .metas {
	align-items: center;
	column-gap: var(--SIZE_MEDIUM);
	display: flex;
	flex-wrap: wrap;
}

.post .metas .tags {
	display: flex;
	column-gap: var(--SIZE_XS);
	place-items: center;
	flex-wrap: wrap;
}

.post li {
	list-style: square inside;
}

.post li::marker {
}

.post img {
	max-width: 100%;
	margin-bottom: var(--SIZE_XS);
}

#tags h3:target,
#archive h3:target {
	text-decoration: underline;
}

#tags {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#archive {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}


#tags .tag > h1,
#archive .archive > h1 {
	padding-bottom: 10px;
}

#footer {
	display: grid;
	grid-template-columns: 1fr;
	padding: 15px;
	grid-auto-rows: max-content;
	row-gap: 15px;
}

#footer > nav {
	grid-gap: var(--SIZE_MEDIUM);
	display: flex;
	align-items: center;
}

#footer > nav a.active {
	text-decoration: underline;
}

#footer .tagline {
	transform: rotate(3deg);
	position: relative;
	letter-spacing: 2px;
	justify-self: baseline;
	margin-bottom: var(--SIZE_XXS);
}

#footer .tagline:before {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #94a6ca3d;
	height: 100%;
	left: 0;
	transform: rotate(-5deg);
}

#footer img {
	opacity: 0.5;
}

#footer img:hover {
	opacity: 1;
}

#footer > .copyright {
	grid-column: 1;
	grid-row: 2;
	place-self: center;
}

#footer > .icons {
	grid-column: 1;
	grid-row: 2;
	justify-self: end;
	display: grid;
	filter: invert(1);
	grid-auto-flow: column;
	grid-gap: var(--SIZE_XS);
	place-items: center;
}

.intro {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 25px;
}

.intro > img {
	grid-row: 1;
	grid-column: 1;
	justify-self: end;
	width: 150px;
	object-fit: cover;
	height: 150px;
	border-radius: 100%;
}

.intro > div {
	display: grid;
	grid-gap: var(--SIZE_XS);
}

.intro p {
	margin: var(--SIZE_MEDIUM) 0;
}

.pagination {
	display: grid;
	align-items: center;
	margin-bottom: var(--SIZE_MEDIUM);
}

.pagination .previous {
	grid-column: 1;
	grid-row: 1;
	justify-self: start;
	border: 1px solid #93c9ff61;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

.pagination .indicator {
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
	border: 1px solid #ffffff5e;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

.pagination .next {
	grid-column: 1;
	grid-row: 1;
	justify-self: end;
	border: 1px solid #93c9ff61;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: white;
	}
	a {
		filter: invert(1);
	}
}
