@import "css-generics";
@import "prismjs/themes/prism-okaidia";

:root {
	--COLOR_CLOUDBURST: #1b28519e;
	--COLOR_CLOUDBURST2: #4758919e;
	--COLOR_CLOUDBURST3: #1b285161;
	--COLOR_STEELBLUE: #4374bd7a;
	--COLOR_PICKLEDBLUEWOOD: #324755;
	--COLOR_FIREFLY: #081124;
	--COLOR_SILVER: #c8c8c821;
	--COLOR_BUNTING: #1b28512e;
	--COLOR_POLOBLUE: #94a6ca;
	--FONT_BODY: sans-serif;
}

html {
	word-break: break-word;
}

body {
	background-color: #353f5b;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: var(--SIZE_MEDIUM);
	color: white;
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

h1, h2, h3, h4, h5 {
	color: #a8bbdf;
}

code[class*="language-"], pre[class*="language-"] {
		white-space: break-spaces;
		word-break: break-word;
}

a {
	color: #5b99d7;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input, textarea, button {
	background-color: #020b0d;
	border: 1px solid var(--COLOR_PICKLEDBLUEWOOD);
	color: #6a94b0;
}

textarea {
	resize: vertical;
}

#header {
	margin-top: var(--SIZE_MEDIUM);
	grid-gap: var(--SIZE_MEDIUM);
	display: grid;
}

#header h1 {
	transform: rotate(3deg);
	position: relative;
	letter-spacing: 2px;
	justify-self: center;
	margin-bottom: var(--SIZE_XXS);
}

#header h1:before {
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #94a6ca3d;
	height: 100%;
	left: 0;
	transform: rotate(-5deg);
}

#header nav {
	grid-gap: var(--SIZE_MEDIUM);
	display: grid;
	grid-auto-flow: column;
	text-align: center;
	border-bottom: 2px solid #181f33;
}

#header nav a {
	background-color: #a8bbdf0d;
	color: #bbbbbb;
	cursor: pointer;
	padding-top: var(--SIZE_XS);
	padding-bottom: var(--SIZE_XS);
	text-decoration: none;
	word-break: keep-all;
}

#header nav a.active {
	background-color: #141a2d94;
}

#header nav a:hover:not(.active) {
	background-color: var(--COLOR_CLOUDBURST2);
}

#main > div:not(#posts) {
	margin-top: var(--SIZE_MEDIUM);
}

#posts {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
	margin-top: var(--SIZE_MEDIUM);
}

.post {
	display: grid;
}

/* .post:not(.full) {
	padding-bottom: var(--SIZE_MEDIUM);
}

.post:not(.full):nth-child(even) {
	background-color: #a8bbdf0d;
} */

#post-content {
	margin-top: var(--SIZE_MEDIUM);
}

#post-content ul {
	display: grid;
	grid-gap: var(--SIZE_XS);
}


#post-content ul {
	padding: var(--SIZE_XS);
}

#post-content h3 {
	border-bottom: 1px solid #3b476a;
}

#post-content h2 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	grid-gap: 30px;
}

#post-content h2:before,
#post-content h2:after {
	content: "";
	height: 1px;
	background-color: #3c486b;
}

#post-content hr {
	border-color: #94a6ca;
}

#post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5,
#post-content p,
#post-content ul,
#post-content figure {
	margin: var(--SIZE_MEDIUM) 0;
}

.post > p {
	padding-left: var(--SIZE_MEDIUM);
}

.post:not(.full) .title {
	grid-row: 2;
}

.post.full {
	margin-top: var(--SIZE_MEDIUM);
}

.post.link > h2 a {
	color: #8290b1;
}

.post .metas {
	align-items: center;
	column-gap: var(--SIZE_MEDIUM);
	display: flex;
	flex-wrap: wrap;
}


.post .metas {
	color: #bdd8f0;
}

.post .metas .tags {
	display: flex;
	column-gap: var(--SIZE_XS);
	place-items: center;
	flex-wrap: wrap;
}

.post li {
	list-style: square inside;
}

.post li::marker {
	color: white;
}

.post img {
	max-width: 100%;
	margin-bottom: var(--SIZE_XS);
}

#tags h3:target,
#archive h3:target {
	text-decoration: underline;
}

#tags {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#archive {
	display: grid;
	grid-gap: var(--SIZE_MEDIUM);
}

#footer {
	color: white;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	border-top: 1px solid #8a92ac66;
	padding: 5px 25px;
}

#footer img {
	opacity: 0.5;
}

#footer img:hover {
	opacity: 1;
}

#footer > small {
	grid-row: 1;
	grid-column: 1;
	justify-self: start;
}

#footer > .copyright {
	grid-column: 1;
	grid-row: 1;
	place-self: center;
}

#footer > .icons {
	grid-column: 1;
	grid-row: 1;
	justify-self: end;
	display: grid;
	grid-auto-flow: column;
	grid-gap: var(--SIZE_XS);
	place-items: center;
}

.intro {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 25px;
}

.intro > img {
	grid-row: 1;
	grid-column: 1;
	justify-self: end;
	width: 150px;
	object-fit: cover;
	height: 150px;
	border-radius: 100%;
}

.intro > div {
	display: grid;
	grid-gap: var(--SIZE_XS);
}

.intro p {
	margin: var(--SIZE_MEDIUM) 0;
}

.pagination {
	display: grid;
	align-items: center;
	margin-bottom: var(--SIZE_MEDIUM);
}

.pagination .previous {
	grid-column: 1;
	grid-row: 1;
	justify-self: start;
	border: 1px solid #93c9ff61;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

.pagination .indicator {
	grid-column: 1;
	grid-row: 1;
	justify-self: center;
	border: 1px solid #ffffff5e;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

.pagination .next {
	grid-column: 1;
	grid-row: 1;
	justify-self: end;
	border: 1px solid #93c9ff61;
	padding: var(--SIZE_XXS) var(--SIZE_MEDIUM);
}

#posts h3 a,
#archive h3 a,
#tags h3 a {
	color: #85add9;
}

@media (max-width: 992px) {
	body {
		padding: var(--SIZE_MEDIUM);
	}
}

@media screen and (max-width: 768px) {

	#header nav {
		place-content: initial;
		grid-auto-flow: row;
		border: none;
		padding: 0;
	}

	.post .metas {
		grid-row-gap: var(--SIZE_XS);
	}

	#posts {
		grid-gap: var(--SIZE_MEDIUM);
	}

	#footer {
		display: grid;
		grid-auto-flow: row;
		grid-gap: var(--SIZE_XS);
		justify-items: center;
	}
	#footer > * {
		place-self: center !important;
		grid-area: initial !important;
	}

	.intro {
		grid-template-columns: initial !important;
	}

	.intro img {
		justify-self: center;
	}
}

@media screen and (max-width: 481px) {


	body {
		padding: var(--SIZE_XS);
	}

}
